@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background: #F5F5F5;;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.contact-btn{
  background: rgb(24, 69, 24);
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-weight: 600;
  transition: 0.5s;

}

.contact-btn:hover{
  background: rgb(86, 123, 86);
  /* background: white;
  color: rgb(24, 69, 24); */
  font-weight: 600;
  transition: 0.5s;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}

.btn{
  background: white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border :0;
  outline: 0;
  margin-top: 20px;
  transition: 0.5s;
  
}

.btn:hover{
  background: rgb(86, 123, 86);
  font-weight: 600;
  transition: 0.5s;
  color: #ffff;
}


.bg{
  background-color: #ffff;
}

.btn.dark-btn{
  background-color: rgb(24, 69, 24);
  color: white;
  
}

@media (max-width: 1200px) {
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn{
    padding: 14px 22px;
  }
}
  
  